@model FrontendMVC.Models.PatientModelUpdate

<h2>Modifier un Patient</h2>

<form asp-action="Update" method="post">
    <input type="hidden" name="Id" value="@ViewBag.PatientId" />
    <div>
        <label>Prénom</label>
        <input asp-for="FirstName" required />
    </div>
    <div>
        <label>Nom</label>
        <input asp-for="LastName" required />
    </div>
    <div>
        <label>Date de naissance</label>
        <input asp-for="DateOfBirth" type="date" required />
    </div>
    <div>
        <label>Genre</label>
        <select asp-for="GenderId">
            @foreach (var gender in ViewBag.Genders)
            {
                <option value="@gender.Id">@gender.GenderName</option>
            }
        </select>
    </div>
    <div>
        <label>Adresse</label>
        <input asp-for="Address" />
    </div>
    <div>
        <label>Téléphone</label>
        <input asp-for="PhoneNumber" />
    </div>
    <button type="submit">Enregistrer</button>
</form>

<h3>Notes Médicales</h3>
@if (Model.Notes.Any())
{
    <ul>
        @foreach (var note in Model.Notes)
        {
            <li>
                <p>@note.Content</p>
                <p><small>Ajouté le : @note.CreatedAt</small></p>
            </li>
        }
    </ul>
}
else
{
    <p>Aucune note disponible.</p>
}

<h3>Ajouter une Note</h3>
<form asp-controller="Patients" asp-action="AddNote" method="post">
    <input type="hidden" name="Id" value="@Model.PatientId" />

    <div>
        <textarea name="Content" required></textarea>
    </div>

    <button type="submit">Ajouter</button>
</form>

<a asp-controller="Patients" asp-action="Index" class="btn btn-primary">Retour à la liste</a>
